<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="morningGreet" class="com.sec05.MorningGreet"/>
    <bean id="greetService" class="com.sec05.GreetService">
        <property name="greet" ref="morningGreet"/>
    </bean>
    <bean id="greetManager" class="com.sec05.GreetManager">
        <property name="service" ref="greetService"/>
    </bean>
</beans>
