<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="morningGreet" class="com.work01.sec01.MorningGreet" />


    <bean id="eveningGreet" class="com.work01.sec02.EveningGreet" />

    <bean id="morningGreet03" class="com.work01.sec03.MorningGreet" />

    <bean id="greetService" class="com.work01.sec03.GreetService">
        <property name="greet" ref="morningGreet03"/>
    </bean>


    <bean id="morningGreet7" class="com.work01.sec07.MorningGreet" />

</beans>